div[id="eI"]{
    padding-bottom: 204.5px;
    text-align: center;
    border: solid;
}
div[id="eN"]{
    padding-bottom: 204.5px;
    text-align: center;
    border: solid;
}
div[id="eS"]{
    padding-bottom: 204.5px;
    text-align: center;
    border: solid;
}
div[id="eD"]{
    padding-bottom: 204.5px;
    text-align: center;
    border: solid;
}
div[id="imgs"]{
    border: solid;
}
div[id="title"]{
    border: solid;
    background-color: lightslategray;
}